.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.wrapper div:not(:nth-child(2)) {
  padding: 20px;
}
.findBtnArea,
.findDiv,
.showDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#findText {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
textarea,
.showDiv > div,
.showDiv > select {
  padding: 10px;
  width: 40vw;
}
textarea,
.showDiv > div {
  height: 80vh;
}

.findedText,
.textEmphasize {
  font-weight: bold;
  color: red;
}
